.note-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(42, 42, 42);
  color: inherit;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .note-item {
    width: 45%;
    margin: 0.5rem;
  }
}

.note-item__title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.note-item__content {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.note-item__dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.note-item__dates span {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.note-item__actions {
  margin-bottom: 0.5rem;
}

.note-item__action {
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.note-item__action.delete {
  background-color: #df2222;
}

.note-item__action.delete:hover {
  background-color: hsla(0, 75%, 50%, 0.9);
}
