.notes-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 768px) {
  .notes-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
