.notes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
}

.notes-title {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  text-align: center;
}

.notes-subtitle {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  text-align: center;
}
